{%extends 'layout.html' %} {%block content%}

<main>
  <div>
    <img src="PICTURE OF ME" alt="Picture of me" />

    <h1>Edward Mustard</h1>
    <a href="{{url_for('blog')}}">
      <span>Thought cloud</span>
      <p>New lessons</p>
    </a>

    <div>
      <img src="FULLSTACK ICON" alt="Briefcase icon" />
      <p>Fullstack developer</p>
      <img src="PIN POINTER ICON" alt="Location pointer Icon" />
      <p>Sunderland, England</p>

      <a href="https://www.linkedin.com/in/edwardmustard/"
        ><img src="BRIEFCASE LOGO" alt="LinkedIn Icon" />
        <p>Connect on LinkedIn</p></a
      >
      <a href="https://github.com/emustard1"
        ><img src="GITHUB LOGO" alt="Github Icon" />
        <p>Github</p></a
      >
    </div>
  </div>
  <div>
    <a href="CV LINK">
      <span>LITTLE DOT</span>
      <p>Download CV</p>
    </a>
  </div>
</main>

{%endblock%}
