<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <header>
    <nav>
        <ul>
            <li>Projects</li>
            <li>About me</li>
            <li>Contact</li>
        </ul>
    </nav>
  </header>


  <body>
    {%block content%} {%endblock%}
  </body>

  <footer class="site-footer">
    <div class="row row-center">
      <div class="columns-12 flex">
        <div class="columns-8 footer menu picture"></div>
        <div class="columns-4 name-socials">
          <ul class="social-list">
            <li><a href="LINK-TO-LINKEDIN" target="_blank" rel="noopener"></a>LinkedIn</li>
            <li><a href="LINK-TO-MEDIUM" target="_blank" rel="noopener">Medium</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
